DATABASE_URL="file:./prisma/dev.db"
PORT=3001
AUTH_SECRET="change-this-secret-before-production"
LIBRARIAN_JWT_SECRET="change-this-librarian-secret-before-production"
EMAIL_HOST="smtp.163.com"
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER="13193321909@163.com"
EMAIL_PASS="NRyzYpzHHyrCqBTc"
EMAIL_FROM="图书馆系统 <13193321909@163.com>"
DUE_REMINDER_DAYS=3
DUE_REMINDER_HOUR=5
DUE_REMINDER_MINUTE=0
